body,
header,
p,
ul,
li,
nav,
button,
form,
main {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 770px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

*:hover {
    transition: 0.5s;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 79px;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.brand-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
}

.brand-title:hover {
    color: #3CB878;
}

.nav-container {
    display: flex;
    align-items: center;
    color: #FFFFFF;

}

.nav-list-icon {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    gap: 25px;

}

.nav-list-icon li:hover path {
    fill: #3CB878;
}

.nav-way-to-login {
    color: #FFFFFF;
    font-size: 14px;
}

.nav-way-to-login a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}

.nav-login:hover {
    color: #3CB878;
}

.nav-signup:hover {
    color: #3CB878;
}


.section-form {
    position: relative;
    width: 100%;
    height: calc(100% - 58px);
}

.green-flag {
    background: #3CB878;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 29px;
    left: 0;
}

.container-data {
    width: 444px;
    padding: 31px 61px 38px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);

}

.signup-or-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-or-login a {
    text-decoration: none;
}

.signup {
    color: #434343;
    font-size: 20px;
}

.login {
    color: #3CB878;
    font-size: 14px;
}

.login:hover {
    text-decoration: underline;
    color: #01813F;
}

.btn-choice {
    display: flex;
    justify-content: space-between;
    margin: 13px 0 31px;
}

.btn {
    display: flex;
    justify-content: start;
    gap: 18px;
    align-items: center;
    width: 157px;
    height: 46px;
    padding-left: 15px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;

}

.btn-facebook {
    background-color: #305DB8;
}

.btn-facebook:hover {
    background-color: #022263;
}

.btn-google {
    background-color: #DF4A32;
}

.btn-google:hover {
    background-color: #AB1F09;
}

.form-gorizont-line {
    color: #848484;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;

}

.form-data {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.input-form-data {
    width: 100%;
    box-sizing: border-box;
}

.input-text {
    width: 100%;
    padding: 15px 19px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    outline: none;

}

.input-text::placeholder {
    font-size: 14px;
    color: rgba(190, 190, 190, 1);
}

.input-text:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
}

.input-text:invalid {
    border: 1px solid #C42D2A;
}

.btn-submit {
    width: 100%;
    padding: 16px 0;
    border: none;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.8);
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #01813F;
}

.input-checkbox {
    position: relative;
    width: 100%;
    font-size: 14px;
    color: #434343;
    padding-left: 22px;
    text-align: left;
    box-sizing: border-box;
}

.input-checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}

.input-checkbox span {
    color: #3CB878;
}

.input-checkbox:hover span {
    color: #01813F;
    text-decoration: underline;
}

.checkmark {
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #F2F2F2;
    position: absolute;
    top: 0;
    left: 0;
}

.checkmark::before {
    content: "";
    background-image: url(../img/checkmark.svg);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    display: block;
    height: 16px;
    width: 16px;
    transition: .4s;
}

.input-checkbox input:checked+.checkmark::before {
    opacity: 1;
}